@import "variables";


.back{
    background-image: url(../assets/paper.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
align-items: center;
    justify-items: center;
    gap: 2rem;
}
h1{
    font-family: "Special Elite";
    margin-top: 1rem;
}
img{
    width: 6rem;
    border-radius: 1rem;
    border: 2px double $October-4-hex;
}

.login{
   
    border-top: 2px solid #FFFFFF75;
    border-left: 2px solid #FFFFFF75;
    box-shadow : 5px 5px 12px#5d310db6 ;
    background: #FFFFFF25;
    border-radius: 1rem;
    backdrop-filter: blur(3px);
    
}