@import "variables";

.nav{
  background: linear-gradient(90deg, rgba(103,86,52,1) 24%, rgba(77,59,37,0.9612219887955182) 50%, rgba(91,82,69,1) 72%);
  font-family: "Special Elite", serif;
  color: $October-4-hex;

}
span{
  color: red;
}
.but{
  padding: 6px;
  text-align: center;
  align-items: center;
  background-color: $October-4-hex;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Special Elite";
  
}
.but:hover{
  background-color: bisque;
  color: $October-5-hex;
}
